<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
		<servlet-name>helloServlet</servlet-name>
		<!--类名包含了包名，必须要按照实际的类名来填写-->
		<servlet-class>web.otherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<!-- 获取参数 -->
		<init-param>
			<param-name>company</param-name>
			<param-value>北京达内</param-value>
		</init-param>
		<init-param>
			<param-name>address</param-name>
			<param-value>北京</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>helloServlet</servlet-name>
		<url-pattern>/other</url-pattern>
	</servlet-mapping>
</web-app>
